.container {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
}

.legend {
  text-align: center;
  margin: 10px auto 0 auto;
  font-size: 12px;
  max-width: 728px;
  font-weight: 300;
  line-height: 20px;
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  word-break: break-word;
}

.container img,
figure > img {
  border-radius: 2%;
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.container iframe,
figure > iframe {
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}